html {
  min-height: 100%;
}
body {
  min-height: 100%;
  background: linear-gradient(lightgray, gray);
}

tr:nth-child(even) {
  background: #ccc;
}
tr:nth-child(odd) {
  background: #fff;
}

input {
  border: none;
}

td > input {
  background: inherit;
}

.blueBackground,
th {
  background: RoyalBlue;
  color: white;
}

@keyframes alert {
  from {
    background: inherit;
    color: black;
  }
  to {
    background: yellow;
    color: red;
  }
}

.alert {
  animation-delay: 1.5s;
  animation-name: alert;
  animation-duration: 1.5s;
  animation-iteration-count: 4;
  animation-direction: alternate;
}
