* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

html {
  min-height: 100%;
  background: linear-gradient(white, transparent 90%),
    linear-gradient(0deg, white, transparent),
    url("healthcare.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
}

body {
  margin: 0;
}

h3 {
  margin: 0;
}

footer {
  margin-top: 300px;
}

.nav-bar li {
  background-color: skyblue;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.nav-bar li ol {
  padding-left: 30px;
  padding-right: 30px;
}

.intro {
  margin-top: 130px;
  margin-bottom: 0px;
}

.RPMS {
  background: linear-gradient(skyblue, transparent 90%);
  font-size: 3rem;
  width: 50%;
  margin-left: 25%;
  padding: 10px;
  border-radius: 10px;
}

.btn-signup {
  background: linear-gradient(skyblue, transparent 90%);
  width: 20%;
  margin-left: 40%;
  border-radius: 10px;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

a.home {
  text-decoration: none;
  color: black;
}

.select-user {
  margin-top: 100px;
  margin-bottom: 0px;
  font-size: 2.5rem;
}

.users-container {
  display: flex;
  margin: 50px auto;
  width: 80%;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.login-main {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
}
.form-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-signup form {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#email,
#password {
  width: 20vw;
  height: 5vh;
  font-size: 150%;
}
#submitbutton {
  width: 10vw;
  height: 5vh;
  font-size: 125%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.fill-intro {
  margin-top: 0;
}

/* The Close and Confirm Button */
.close,
.confirm {
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.approval-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10%;
  margin-top: 70px;
}

.btn-users {
  width: 12rem;
  height: 3rem;
}

section {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 10px;
}

table {
  border: solid black 1px;
}

td,
th {
  text-align: left;
  padding: 8px;
}

th:nth-child(odd) {
  width: 100%;
}

/*Message box style*/
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.welcome {
  margin-top: 4%;
  margin-bottom: 4%;
}

/* Dashboards */
.input-container {
  float: left;
  margin-left: 4%;
  padding: 10% 10% 10% 10%;
  border: solid black 2px;
  border-radius: 4%;
  background-color: rgb(163, 224, 248);
}

.data-container {
  float: right;
  margin-right: 4%;
  padding: 10% 10% 10% 10%;
  border: solid black 2px;
  border-radius: 4%;
  background-color: rgb(163, 224, 248);
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.patient-visit, .patient-record, .set-appointments, .reserved-appointments {
  padding: 7% 7% 7% 7%;
  margin-top: 2%;
  border: solid black 2px;
  border-radius: 4%;
  background-color: rgb(163, 224, 248);
}

.patient-alert {
  padding: 7% 7% 7% 7%;
  margin-top: 2%;
  border: solid black 2px;
  border-radius: 4%;
  background-color: rgb(216, 84, 75);
}

a:link {
  color: black;
}

a:active {
  color: blue;
}

/* Input biometrics */
.biometrics-container {
  display: grid;
  margin: 50px;
  grid-template-columns: 27em 27em 27em;
  grid-template-rows: 3em 3em 3em;
  grid-gap: 20% 2%;
}

.biometrics-button {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.biometrics-button input {
  width: 10%;
}
