{% extends "layout.html" %}
{% block title %}Edit{% endblock %}
{% block content %}

	<form target = "" method = "POST">
		<h2>Enter student information</h2>

		<table>
			<tr>
				<td>
					<label for = "ID">ID</label>
				</td>
				<td>
					<input type="number" id="ID" name="ID" value = "{{student.ID}}" required><br>
				</td>
			</tr>

			<tr>
				<td>
					<label for = "name">Name</label>
				</td>
				<td>
					<input type="text" id="Name" name="Name" value = "{{student.Name}}" required><br>
				</td>
			</tr>

			<tr>
				<td>
					<label for = "email">Email</label>
				</td>
				<td>
					<input type="email" id="Email" name="Email" value = "{{student.Email}}" required><br>
				</td>
			</tr>

			<tr>
				<td>
					<label for = "major">Major</label>
				</td>
				<td>
					<input type="text" id="Major" name="Major" value = "{{student.Major}}" required><br>
				</td>
			</tr>

		</table>

		<input type="submit" value="Done" class = "blueBackground">
	</form>
{%endblock%}