{% extends "layout.html" %} <!-- HELLO WORLD 4-->
{% block title %}Home{% endblock %}
{% block content %} <!-- HELLO WORLD 6-->
{% for message in get_flashed_messages() %}

<scrypt>
    <span class=alert>
        {{message}}
    </span>
</scrypt>
{% endfor %}
<h1>Student database</h1>
<form action={{url_for("add_student")}}>
    <input type="submit" value="Add Student" class=blueBackground>
</form>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Major</th>
        <th>Action</th>
    </tr>
    {%for record in data%}
    <tr>
        <td>{{record.ID}}</td>
        <td>{{record.Name}}</td>
        <td>{{record.Email}}</td>
        <td>{{record.Major}}</td>
        <td>
            <a href={{url_for("edit_student", studentID = record.ID)}} }>Edit</a>
            <a href={{url_for("delete_student", studentID = record.ID)}} onclick="return confirmation()">Delete</a>
        </td>
    </tr>
    {%endfor%}
</table>

<script>
    function confirmation() {
        return confirm("Are you sure that you want to delete this record permanently?")
    }
</script>

{% endblock %}