<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1.0; width=device-width">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}"/>

    <title>Database - {% block title %}{% endblock %}</title>

  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>