{% extends "layout.html" %} 
{% block title %}Input Biometrics{%endblock %} 
{% block content %}
      <main>

          <div class="welcome">
              <h1><center>Generate Reports</center></h1>
          </div>
          {% for message in get_flashed_messages() %}<!-- allows back end to send messages to the user -->
            <center><span class="alert"> {{message}} </span></center>
          {% endfor %}
          <form action="{{url_for('get_report')}}" method="POST">
              <label for="show_me">Desired Type</label>
              <select name="show_me" id="show_me" onchange="changed_show_me()">
                  {% for show in possible_show_me %}
                    {% if selections['show_me'] == show %}
                        <option value="{{show}}" selected>{{show}}</option>
                    {% else %}
                        <option value="{{show}}">{{show}}</option>
                    {% endif %}
                  {% endfor %}
              </select>
              <label for="specification_type">Specify By</label>
              <select name="specification_type" id="specification_type" onchange="changed_specification_type()">
                  {% for type in specification_types %}
                    {% if selections['specification_type'] == type %}
                        <option value="{{type}}" selected>{{type}}</option>
                    {% else %}
                        <option value="{{type}}">{{type}}</option>
                    {% endif %}
                  {% endfor %}
              </select>
              <label for="specification_value" id="specification_value_label" hidden>Specify Value</label>
              <select name="specification_value" id="specification_value" onchange="changed_specification_value()" hidden>
              </select>
              <label for="want_exceeded" id="want_exceeded_label">Want Exceeding Limits</label>
              <input type="checkbox" id="want_exceeded" name="want_exceeded" value="want_exceeded">
              <input type="submit" value="Submit">
        </form>
          {% if selections['show_me'] != 'None' %}
            <h1>Report for {{selections['show_me']}}
                {% if selections['specification_type'] != 'None' %}
                    in {{selections['specification_type']}} with ID {{selections['specification_value']}}
                {% endif %}
                {% if selections['want_exceeded'] == 'want_exceeded' and selections['show_me'] == 'Patients'%}
                    Who Exceed Test Limits
                {% endif %}
            </h1>
          {% endif %}
          {% if report|length > 0 %}
              <table>
                  <tr>
                    {% for key in report_keys %}
                    <th>{{key}}</th>
                      {% endfor %}
                  </tr>
                  {% for item in report %}
                  <tr>
                    {% for key in report_keys %}
                    <th>{{item[key]}}</th>
                     {% endfor %}
                      </tr>
                  {% endfor %}
              </table>
          {% else %}
          <h1><center>No Results!</center></h1>
          {% endif %}
          <script>
                function changed_show_me(){
                    element = document.getElementById('show_me');
                    if (element.value == 'Patients'){
                        document.getElementById('want_exceeded').removeAttribute("hidden");
                        document.getElementById('want_exceeded_label').removeAttribute("hidden");
                    }
                    else{
                        document.getElementById('want_exceeded').hidden = true;
                        document.getElementById('want_exceeded_label').hidden = true;
                    }
                }
                function changed_specification_type(){
                    console.log('test2');
                    element = document.getElementById('specification_type');
                    if(element.value == 'None'){
                        document.getElementById('specification_value').hidden = true;
                        document.getElementById('specification_value_label').hidden = true;
                    }
                    else if (element.value == 'Hospital'){
                        document.getElementById('specification_value').removeAttribute("hidden");
                        document.getElementById('specification_value_label').removeAttribute("hidden");
                        element = document.getElementById('specification_value')
                        for (i = element.options.length-1; i >= 0; i--) {
                            element.options[i] = null;
                        }
                        {% for hospital in hospitals %}
                            element.options[element.options.length] = new Option('{{hospital.HospitalName}}', '{{hospital.HospitalID}}');
                        {% endfor %}
                    }
                    else if (element.value == 'Community'){
                        document.getElementById('specification_value').removeAttribute("hidden");
                        document.getElementById('specification_value_label').removeAttribute("hidden");
                        element = document.getElementById('specification_value')
                        for (i = element.options.length-1; i >= 0; i--) {
                            element.options[i] = null;
                        }
                        {% for community in communities %}
                            element.options[element.options.length] = new Option('{{community.CommunityName}}', '{{community.CommunityID}}');
                        {% endfor %}
                    }
                }
                function changed_specification_value(){
                    console.log('test3');
                }

                {% if selections['want_exceeded'] == 'want_exceeded' %}
                  document.getElementById("want_exceeded").checked = true;
                {% endif %}

                changed_show_me();
                changed_specification_type();
                changed_specification_value();

          </script>
      </main>
{%endblock%}