{% extends "layout.html" %} 
{% block title %}Admin Dashboard{%endblock %} 
{% block content %}
      <main>
          <div class="welcome">
              <h1><center>Welcome!</center></h1>
          </div>

          <div class="input-container">
              <h2><a href="/admin/dashboard/add_biometric_tests">Input test data</a></h2>
          </div>

          <div class="data-container">
            <h2><a href="/approvals">Check pending approvals</a></h2>
          </div>

          <div class="data-container">
              <h2><a href="dashboard/reports">Generate Reports</a></h2>
          </div>
      </main>
{%endblock%}
