{% extends "layout.html" %} 
{% block title %}Alert Patients{%endblock %} 
{% block content %}
    <main>
        <div class="welcome">
            <h1><center>Alerts</center></h1>
        </div>

        <section id="patient">
            <table style="width: 100%">
                <tr style="width: 100%">
                    <th style="width: 20%; text-align: center">User ID</th>
                    <th style="width: 20%; text-align: center">First Name</th>
                    <th style="width: 20%; text-align: center">Last Name</th>
                    <th style="width: 20%; text-align: center">Condition</th>
                    <th style="width: 20%; text-align: center">Email</th>
                </tr>
                {%for alert in alerts%}
                    <tr>
                        <td style="width: 20%; text-align: center">{{alert.UserID}}</td>
                        <td style="width: 20%; text-align: center">{{alert.FirstName}}</td>
                        <td style="width: 20%; text-align: center">{{alert.LastName}}</td>
                        <td style="width: 20%; text-align: center">{{alert.Condition}}</td>
                        <td style="width: 20%; text-align: center"><a href = "mailto: {{alert.Email}}">{{alert.Email}}</a></td>
                    </tr>
                {%endfor%}
            </table>
        </section>
    </main>
{%endblock%}