{% extends "layout.html" %}
{% block title %}Approval{% endblock %}
{% block content %}
    <main style="padding-bottom: 2%;">
        <h1 style="font-size: 2.5rem;"><center>Pending Approvals</center></h1>

        <div class="approval-container">
            <button class="btn-users" onclick="patientTable()"><h3>Patients</h3></button>
            <button class="btn-users" onclick="doctorTable()"><h3>Doctors</h3></button>
            <button class="btn-users" onclick="communityTable()"><h3>Community Owners</h3></button>
            <button class="btn-users" onclick="hospitalTable()"><h3>Hospital Owners</h3></button>
        </div>


        <section id="patient" style="display: none;">
            <h1>List of Patients</h1>
            <table style="width: 100%">
                <tr style="width: 100%">
                    <th style="width: 25%; text-align: center">User ID</th>
                    <th style="width: 25%; text-align: center">First Name</th>
                    <th style="width: 25%; text-align: center">Last Name</th>
                </tr>
                {%for record in patients%}
                    <tr>
                        <td style="width: 25%; text-align: center">{{record.UserID}}</td>
                        <td style="width: 25%; text-align: center">{{record.FirstName}}</td>
                        <td style="width: 25%; text-align: center">{{record.LastName}}</td>
                        <td style="width: 12.5%; text-align: center"><button><a href={{url_for("approve_patient", UserID=record.UserID)}}>Approve</a></button></td>
                        <td style="width: 12.5%; text-align: center"><button><a href={{url_for("delete_patient", UserID=record.UserID)}}>Deny</a></button></td>
                    </tr>
                {%endfor%}
            </table>
        </section>

        <section id="doctor" style="display: none;">
            <h1>List of Doctors</h1>
            <table style="width: 100%">
                <tr style="width: 100%">
                    <th style="width: 25%; text-align: center">User ID</th>
                    <th style="width: 25%; text-align: center">First Name</th>
                    <th style="width: 25%; text-align: center">Last Name</th>
                </tr>
                {%for record in doctors%}
                    <tr>
                        <td style="width: 25%; text-align: center">{{record.UserID}}</td>
                        <td style="width: 25%; text-align: center">{{record.FirstName}}</td>
                        <td style="width: 25%; text-align: center">{{record.LastName}}</td>
                        <td style="width: 12.5%; text-align: center"><button><a href={{url_for("approve_doctor", UserID=record.UserID)}}>Approve</a></button></td>
                        <td style="width: 12.5%; text-align: center"><button><a href={{url_for("delete_doctor", UserID=record.UserID)}}>Deny</a></button></td>
                    </tr>
                {%endfor%}
            </table>
        </section>
        
        <section id="community" style="display: none;">
            <h1>List of Community Owners</h1>
            <table style="width: 100%">
                <tr style="width: 100%">
                    <th style="width: 25%; text-align: center">User ID</th>
                    <th style="width: 25%; text-align: center">First Name</th>
                    <th style="width: 25%; text-align: center">Last Name</th>
                </tr>
                {%for record in comm_owners%}
                    <tr>
                        <td style="width: 25%; text-align: center">{{record.CommunityOwnerID}}</td>
                        <td style="width: 25%; text-align: center">{{record.Owner.FirstName}}</td>
                        <td style="width: 25%; text-align: center">{{record.Owner.LastName}}</td>
                        <td style="width: 12.5%; text-align: center"><button><a href={{url_for("approve_community_owner", CommunityID=record.CommunityID)}}>Approve</a></button></td>
                        <td style="width: 12.5%; text-align: center"><button><a href={{url_for("delete_community_owner", UserID=record.CommunityOwnerID)}}>Deny</a></button></td>
                    </tr>
                {%endfor%}
            </table>
        </section>      

        <section id="hospital" style="display: none;">
            <h1>List of Hospital Owners</h1>
            <table style="width: 100%">
                <tr style="width: 100%">
                    <th style="width: 25%; text-align: center">User ID</th>
                    <th style="width: 25%; text-align: center">First Name</th>
                    <th style="width: 25%; text-align: center">Last Name</th>
                </tr>
                {%for record in hosp_owners%}
                    <tr>
                        <td style="width: 25%; text-align: center">{{record.HospitalOwnerID}}</td>
                        <td style="width: 25%; text-align: center">{{record.Owner.FirstName}}</td>
                        <td style="width: 25%; text-align: center">{{record.Owner.LastName}}</td>
                        <td style="width: 12.5%; text-align: center"><button><a href={{url_for("approve_hospital_owner", HospitalID=record.HospitalID)}}>Approve</a></button></td>
                        <td style="width: 12.5%; text-align: center"><button><a href={{url_for("delete_hospital_owner", UserID=record.HospitalOwnerID)}}>Deny</a></button></td>
                    </tr>
                {%endfor%}
            </table>
        </section>      
    </main>
    <script src="../static/css/table.js"></script>
{%endblock%}