{% extends "layout.html" %} 
{% block title %}Community Dashboard{%endblock %} 
{% block content %}
      <main>
          <div class="welcome">
              <h1><center>Welcome!</center></h1>
          </div>
          <div class="container">
              <div class="input-container">
                  <h2><a href="">See data trends</a></h2>
              </div>

              <div class="data-container">
                <h2><a href="/approvals">Check pending approvals</a></h2>
              </div>

              <div class="data-container">
                <h2><a href="dashboard/reports">Generate Reports</a></h2>
              </div>
          </div>
      </main>
{%endblock%}