{% extends "layout.html" %}
{% block title %}Data Trends{%endblock %}
{% block content %}
    <main>
        <div class = 'header'>
            <h1><center>DataTrends</center></h1>
        </div>
        <table style="width: 100%">
            <tr style="width: 100%">
                <th style="width: 12.5%; text-align: center">Date Submitted</th>
                {% for test in tests%}
                    <th style="width: 12.5%; text-align: center">{{test.TestName}}</th>
                {%endfor%}
            </tr>
            {% for record in records%}
                <tr>
                    {% for test_value in record%}
                        <td style="width: 12.5%; text-align: center">{{test_value}}</td>
                    {%endfor%}
                </tr>
            {%endfor%}
        </table>
        {%for test in tests%}
        <div class="graphs" style="display: flex; justify-content: center">
         <h3>{{test.TestName}}</h3>
            <img src='/doctor/dashboard/patient_record/{{patientid}}/matplot-as-image-{{test.TestID}}.png'
                 alt="{{test.TestName}} Graph"
                 height="300"
            >
        </div>
        {%endfor%}
    </main>
{%endblock%}