{% extends "layout.html" %}
{% block title %}Approval{% endblock %}
{% block head %}
    <style>
        body{
            overflow: visible
        }
    </style>
{% endblock%}
{% block content %}

    <main>
        <section id="visits">
            <h1>List of Visits with {{patient.fName}} {{patient.lName}}</h1>
            <table>
                <tr>
                    <th>Visit ID</th>
                    <th>Doctor</th>
                    <!--<th>Date</th>-->
                    <th>View</th>
                </tr>
                {%for visit in visits%}
                    <tr>
                        <td>{{visit.VisitID}}</td>
                        <td>{{doctor.fName}} {{doctor.lName}}</td>
                        <!--<td>4/20/2021</td> I NEED THIS DATA FROM DATABASE. HARDCODED IN CASE YOU SHOW IT OFF-->
                        <td><button><a href={{url_for("doctor_visit_details", VisitID=visit.VisitID)}}>View</a></button></td>
                    </tr>
                {%endfor%}
            </table>
        </section>
    </main>

{%endblock%}