{% extends "layout.html" %}
{% block title %}Approval{% endblock %}
{% block head %}
    <style>
        body{
            overflow: visible
        }
    </style>
{% endblock%}
{% block content %}

    <main>
        <h2>Patient Visit Form</h2>
        <form action="{{url_for('doctor_visit_page')}}" method="POST" class = "input-container">
            <!--
            1.	Take a note of the symptoms.
            2.	Prescribe laboratory tests.
            3.	Prescribe medications.
            4.	Doctor can write a summary of each visit
            -->
            <span >

                <h3>Patient info:</h3><br>

                <label for="patient_email">Patient E-mail:</label>
                <input type="text" name="patient_email" id="Patient_email" required="1">
            </span>
            <span>
                <h3>Symptom Notes:</h3><br>
                <textarea name="Symptoms_notes" rows="10" cols="30" required="1"></textarea>

                <h3>Meeting Notes:</h3><br>
                <textarea name="Meeting_notes" rows="10" cols="30" required="1"></textarea>
            </span>
            <span>
            <!-- lab tests-->
            <h3>Lab Tests:</h3><br>
            <label for="has_lab">Prescribe a lab test</label>
            <input type="checkbox" name="has_lab" onclick="labCheckbox(this)" id="has_lab" value = "True"><br><br>

            <div id = "lab_div" style="display: none" class = "center">
                <label for="lab_test_name">Test Name:</label><br>
                <input type="text" name="lab_test_name" id="lab_test_name"><br><br>

                <label for="lab_test_warrant">Reason for Test:</label><br>
                <input type="text" name="lab_test_warrant" id="lab_test_warrant"><br><br>

                <label for="lab_test_location">Location for test:</label><br>
                <input type="text" name="lab_test_location" id="lab_test_location"><br><br>

                <label for="lab_test_instructions">Special Instructions:</label><br>
                <input type="text" name="lab_test_instructions" id="lab_test_instructions"><br><br>
            </div>
            </span>

            <span>
            <h3>Prescribe a medication:</h3><br>
            <!-- prescription info-->
            <label for="has_prescription">Prescribe a medication</label>
            <input type="checkbox" name="has_prescription" onclick="PrescriptionCheckbox(this)" id="has_prescription" value = "True"><br><br>

            <div id = "prescription_div" style="display: none">

                <label for="prescription_diagnosis_code">Diagnosis code:</label><br>
                <input type="text" name="prescription_diagnosis_code" id="prescription_diagnosis_code"><br><br>

                <div><!-- script info-->
                    <label for="script_drug">Drug:</label><br>
                    <input type="text" name="script_drug" id="script_drug"><br><br>

                    <label for="script_dose">Dosage:</label><br> <!-- drug per pill or ml etc-->
                    <input type="text" name="script_dose" id="script_dose"><br><br>

                    <label for="script_amount">Amount:</label><br> <!-- pills or ml per dose-->
                    <input type="text" name="script_amount" id="script_amount"><br><br>

                    <label for="script_timing">Time between doses:</label><br>
                    <input type="text" name="script_timing" id="script_timing"><br><br>
                </div>

                <label for="prescription_instructions">Special Instructions:</label><br>
                <input type="text" name="prescription_instructions" id="prescription_instructions"><br><br>

                <label for="prescription_DEA_number">DEA number:</label><br>
                <input type="text" name="prescription_DEA_number" id="prescription_DEA_number"><br><br>

                <label for="prescription_licence_number">Medical Licence Number:</label><br>
                <input type="text" name="prescription_licence_number" id="prescription_licence_number"><br><br>
            </div>
            </span>
            <button type="submit">Submit</button>
            <button type="reset">Clear</button>
        </form>
    </main>
    <script>
        function PrescriptionCheckbox(checkbox){
            if (checkbox.checked == true){
                document.getElementById("prescription_div").style.display = "block"
            }else{
                document.getElementById("prescription_div").style.display = "none"
            }
        }
        function labCheckbox(checkbox){
            if (checkbox.checked == true){
                document.getElementById("lab_div").style.display = "block"
            }else{
                document.getElementById("lab_div").style.display = "none"
            }
        }
    </script>
{% endblock%}