{% extends "layout.html" %} 
{% block title %}Doctor Dashboard{%endblock %} 
{% block content %}
<main>
    <div class="welcome">
        <h1><center>Welcome!</center></h1>
    </div>

    <div class="container">
        <div class="patient-visit">
            <h2><a href="/doctor/visit">Patient Visit Form</a></h2>
        </div>

        <div class="patient-alert">
            <h2><a href="/doctor/dashboard/alert_patient">Alert My Patients</a></h2>
        </div>

        <div class="patient-record">
          <h2><a href="/doctor/dashboard/patient_record">Check my patients' record</a></h2>
        </div>

        <div class="patient-visit">
          <h2><a href="/doctor/dashboard/patient_visits">Check my patients' visits</a></h2>
        </div>

        <div class="set-appointments">
          <h2><a href="/doctor/dashboard/set_appointments">Set Available Appointments</a></h2>
        </div>

        <div class="reserved-appointments">
          <h2><a href="/doctor/dashboard/reserved_appointments">Reserved Appointments</a></h2>
        </div>
    </div>
</main>
{%endblock%}