{% extends "layout.html" %}
{% block title %}Approval{% endblock %}
{% block head %}
    <style>
        body{
            overflow: visible
        }
    </style>
{% endblock%}
{% block content %}

    <main>
        <section id="patients">
            <h1>List of Patients with {{doctor.fName}} {{doctor.lName}}</h1>
            <table>
                <tr>
                    <th>Patient ID</th>
                    <th>Patient First Name</th>
                    <th>Patient Last Name</th>
                    <th>View</th>
                </tr>
                {%for patient in patients%}
                    <tr>
                        <td>{{patient.userID}}</td>
                        <td>{{patient.fName}}</td>
                        <td>{{patient.lName}}</td>
                        <td><button><a href={{url_for("doctor_patient_page", DoctorID=doctor.userID, PatientID=patient.userID)}}>View</a></button></td>
                    </tr>
                {%endfor%}
            </table>
        </section>
    </main>

{%endblock%}