{% extends "layout.html" %} 
{% block title %}Hospital Dashboard{%endblock %} 
{% block content %}
      <main>
          <div class="welcome">
              <h1><center>Welcome!</center></h1>
          </div>

          <!-- I'm not sure what to put for this container -->
          <div class="input-container">
              <h2><a href="">See data trends</a></h2>
          </div>

          <div class="data-container">
            <h2><a href="/approvals">Check pending approvals</a></h2>
          </div>
      </main>
{%endblock%}