{% extends "layout.html" %} 
{% block title %}Remote Patient Monitoring System{%endblock %} 
{% block content %}
<main>
  <div class="intro">
    <h1 class="RPMS"><center>Remote Patient Monitoring System</center></h1>
    <button class="btn-signup" id="patientBtn">SIGN UP</button>
  </div>
  <!-- Sign-up Modal -->
  <div id="patientModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <h2 class="fill-intro">Please fill in your information</h2>
      <form action="{{url_for('sign_up')}}" method="POST">
        <p>
          Registering As:
          <input
            type="radio"
            id="patientbox"
            name="typebox"
            value="patient"
            onclick="displaydiv();"
          />
          <label for="patientbox">Patient</label>
          <input
            type="radio"
            id="doctorbox"
            name="typebox"
            value="doctor"
            onclick="displaydiv();"
          />
          <label for="doctorbox">Doctor</label>
          <input
            type="radio"
            id="communitybox"
            name="typebox"
            value="community"
            onclick="displaydiv();"
          />
          <label for="communitybox">Community Owner</label>
          <input
            type="radio"
            id="hospitalbox"
            name="typebox"
            value="hospital"
            onclick="displaydiv();"
          />
          <label for="hospitalbox">Hospital Owner</label>
        </p>

        <script>
          //check what radio button is checked, then display the correct div on the form
          //Has to be here and not in JS file otherwise doesnt work
          function checkfirstFamily() {
            if (document.getElementById("firstoffamilybox").checked) {
              document.getElementById("family-id").disabled = true;
              document.getElementById("family-info").disabled = false;
              $("#family-id").val("");
            } else {
              document.getElementById("family-id").disabled = false;
              document.getElementById("family-info").disabled = true;
              $("#family-info").val("");
            }
          }
          function displaydiv() {
            $("#Patient-Form-Div").empty();
            $("#Doctor-Form-Div").empty();
            $("#CommunityOwner-Form-Div").empty();
            $("#HospitalOwner-Form-Div").empty();

            if (document.getElementById("patientbox").checked) {
              $("#Patient-Form-Div").append(
                '<input type="checkbox" id="firstoffamilybox" name="firstoffamilybox" value="first" onclick="checkfirstFamily();"><label for="firstoffamilybox">First member of family?</label><p><label for="family-id">Family ID: </label><input type="number" id="family-id" name="family-id" required="1"></p><p><label for="family-info">Family Info: </label><input type="text" id="family-info" name="family-info" required="1" disabled="true" ></p><p><label for="community-id">Community ID: </label><input type="number" id="community-id" name="community-id" required="1"></p> '
              );
            } else if (document.getElementById("doctorbox").checked) {
              $("#Doctor-Form-Div").append(
                '<p><label for="hospital-id">Hospital ID: </label><input type="number" id="hospital-id" name="hospital-id"></p><p> <label for="community-id">Community ID: </label><input type="number" id="community-id" name="community-id" required="1"></p>'
              );
            } else if (document.getElementById("communitybox").checked) {
              $("#CommunityOwner-Form-Div").append(
                '<p><label for="community-name">Community Name: </label><input type="text" id="community-name" name="community-name" required="1"></p> <p><label for="community-address">Community Address: </label><input type="text" id="community-address" name="community-address" required="1"></p>'
              );
            } else if (document.getElementById("hospitalbox").checked) {
              $("#HospitalOwner-Form-Div").append(
                '<p><label for="hospital-name">Hospital Name: </label><input type="text" id="hospital-name" name="hospital-name" required="1"></p><p><label for="hospital-address">Hospital Address: </label><input type="text" id="hospital-address" name="hospital-address" required="1"></p><p><label for="community-id">Community ID: </label><input type="number" id="community-id" name="community-id" required="1"></p>'
              );
            }
          }

          //for masking SSN input
          function mask(o, f) {
            setTimeout(function () {
              var v = f(o.value);
              if (v != o.value) {
                o.value = v;
              }
            }, 1);
          }
          function mssn(v) {
            var r = v.replace(/\D/g, "");

            if (r.length > 9) {
              r = r.replace(/^(\d\d\d)(\d{2})(\d{0,4}).*/, "$1-$2-$3");
              return r;
            } else if (r.length > 4) {
              r = r.replace(/^(\d\d\d)(\d{2})(\d{0,4}).*/, "$1-$2-$3");
            } else if (r.length > 2) {
              r = r.replace(/^(\d\d\d)(\d{0,3})/, "$1-$2");
            } else {
              r = r.replace(/^(\d*)/, "$1");
            }
            return r;
          }
        </script>
        <p>
          <label for="fname">First Name:</label>
          <input type="text" id="fname" name="fname" required="1" />
        </p>
        <p>
          <label for="lname">Last Name:</label>
          <input type="text" id="lname" name="lname" required="1" />
        </p>
        <p>
          <label for="birth-date">Birthdate:</label>
          <input type="date" id="birth-date" name="birth-date" required="1" />
        </p>
        <p>
          <label for="address-1">Address 1:</label>
          <input type="text" id="address-1" name="address-1" required="1" />
        </p>
        <p>
          <label for="address-2">Address 2:</label>
          <input type="text" id="address-2" name="address-2" />
        </p>
        <p>
          <label for="ssn">Social Security Number:</label>
          <input type="text" value="" id="ssn" name="ssn" onkeyup="mask(this, mssn);" onblur="mask(this, mssn);" required="1" />
        </p>
        <p>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required="1" />
        </p>

        <div id="Patient-Form-Div"></div>

        <div id="Doctor-Form-Div"></div>

        <div id="CommunityOwner-Form-Div"></div>

        <div id="HospitalOwner-Form-Div"></div>

        <p>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required="1" />
        </p>
        <p>
          <label for="confirm-password">Confirm Password:</label>
          <input
            type="password"
            id="confirm-password"
            name="confirm-password"
            required="1"
          />
        </p>

        <input
          class="confirm"
          type="submit"
          name="confirm"
          id="confirmbutton"
          value="Submit"
        />
        <button class="close">Close</button>
      </form>
    </div>
  </div>
</main>
<footer>
  <h3><center>Already have an account?</center></h3>
  <br />
  <h3>
    <center>Login <a href="{{url_for('login_page')}}"> here</a></center>
  </h3>
  <script src="../static/css/modal.js" type="module"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</footer>
{%endblock%}
