{% extends "layout.html" %} 
{% block title %}Input Biometrics{%endblock %} 
{% block content %}
      <main>

          <div class="welcome">
              <h1><center>Please fill up your biometrics</center></h1>
          </div>
          {% for message in get_flashed_messages() %}<!-- allows back end to send messages to the user -->
            <center><span class="alert"> {{message}} </span></center>
          {% endfor %}
          <form action="{{url_for('add_patient_record')}}" method="POST">
            <div class="biometrics-container">
                {%for test in tests%}
                    <p>
                        <label for="{{test.TestID}}">{{test.TestName}} </label>
                        <input type="number" step="any" id="{{test.TestID}}" name="{{test.TestID}}">
                        {{test.Unit}}
                    </p>
                {%endfor%}
            </div>
            <div class="biometrics-button" style="display: flex; justify-content: center">
                <input type="submit" value="Submit">
                <input type="reset" value="Reset">
            </div>
        </form>
      </main>
{%endblock%}