{% extends "layout.html" %} 
{% block title %}Input Tests{%endblock %}
{% block content %}
    <main>
        <div class = 'header'>
            <h1><center>Insert New Biometric Test</center></h1>
        </div>
        <form action = "{{url_for('add_test')}}" method="POST">
            <p>
                <label for="test-name">Test Name:</label>
                <input type="text" id="test-name" name="test-name" required="1" />
            </p>
            <p>
                <label for="lower-limit">Lower Limit: </label>
                <input type="number" id="lower-limit" name="lower-limit">
            </p>
            <p>
                <label for="upper-limit">Upper Limit: </label>
                <input type="number" id="upper-limit" name="upper-limit">
            </p>
            <p>
                <label for="unit">Unit:</label>
                <input type="text" id="unit" name="unit" required="1" />
            </p>
            <input
            class="confirm"
            type="submit"
            name="confirm"
            id="confirmbutton"
            value="Submit"
            />
        </form>
        <div style="margin-top: 5vh">
            {% for message in get_flashed_messages() %}<!-- allows back end to send messages to the user -->
                <span class="alert"> {{message}} </span>
            {% endfor %}
        </div>
    </main>
{%endblock%}