<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1.0 , width = device-width" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <li>
          <ol>
            {%if current_user.is_authenticated%}
            <a href="{{url_for('get_home_dashboard')}}" class="home">HOME</a>
            {%else%}
            <a href="/home" class="home">HOME</a>
            {%endif%}
          </ol>
          <ol>
            {%if current_user.is_authenticated%}
            <a href="/logout" class="home">LOGOUT</a>
            {%else%}
            <a href="/login" class="home">LOGIN</a>
            {%endif%}
          </ol>
        </li>
      </div>
    </header>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message
    in messages %}
      <!-- message box -->
      <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{message}}
      </div>
    {% endfor %} {% endif %} {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
