{% extends "layout.html" %} {% block title %}Login{% endblock %} {% block
content %}
<main class="login-main">
  <div class="form-signup">
    <form action="{{url_for('login_page')}}" method="POST">
      <input type="text" id="email" name="email" placeholder="Email" />
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
      />
      <input type="submit" id="submitbutton" value="Login" /> <!--fix error-->
    </form>
    <!-- {% for message in get_flashed_messages() %}allows back end to send messages to the user -->
    <!-- <span class="alert"> {{message}} </span> -->
    <!-- {% endfor %} -->
    <div id="forgotpassword">
      <a class="forgotpassword" href="#">Forgot Password?</a>
    </div>
  </div>
  <script src="../static/css/modal.js" type="module"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</main>
{% endblock %}
