{% extends "layout.html" %} 
{% block title %}Patient Dashboard{%endblock %} 
{% block content %}
      <main>
          <div class="welcome">
              <h1><center>Welcome!</center></h1>
          </div>
          <div class="container">
              <div class="input-container">
                  <h2><a href="/patient/dashboard/input_biometrics">Input Biometrics</a></h2>
              </div>

              <div class="data-container">
                <h2><a href="/patient/dashboard/data_trends">See my data trend</a></h2>
              </div>

              <div class="input-container">
                  <h2><a href="/patient/dashboard/select_appointment">Select Available Appointment</a></h2>
              </div>
          </div>
      </main>
{%endblock%}
