{% extends "layout.html" %} 
{% block title %}Patient Record{%endblock %} 
{% block content %}
    <main>
        <div class="welcome">
            <h1><center>Patient Record</center></h1>
        </div>

        <section id="patient">
            <h1>List of Patients</h1>
            <table style="width: 100%">
                <tr style="width: 100%">
                    <th style="width: 25%; text-align: center">User ID</th>
                    <th style="width: 25%; text-align: center">First Name</th>
                    <th style="width: 25%; text-align: center">Last Name</th>
                    <th style="width: 25%; text-align: center"></th>
                </tr>
                {%for record in patients%}
                    <tr>
                        <td style="width: 25%; text-align: center">{{record.UserID}}</td>
                        <td style="width: 25%; text-align: center">{{record.FirstName}}</td>
                        <td style="width: 25%; text-align: center">{{record.LastName}}</td>
                        <td style="width: 25%; text-align: center"><button><a href={{url_for("display_patient_trends", PatientID=record.UserID)}}>Check Data Trends</a></button></td>
                    </tr>
                {%endfor%}
            </table>
        </section>
    </main>
{%endblock%}