{% extends "layout.html" %}
{% block title %}Select Available Appointments{%endblock %}
{% block content %}
    <main>
        <div class="welcome">
            <h1><center>Reserved Appointments</center></h1>
        </div>
        <section id="reserved_appointments">
            <table style="width: 100%">
                <tr style="width: 100%">
                    <th style="width: 20%; text-align: center">Patient's Name</th>
                    <th style="width: 20%; text-align: center">Patient's Data Trends</th>
                    <th style="width: 20%; text-align: center">Date</th>
                    <th style="width: 20%; text-align: center">Time</th>
                    <th style="width: 20%; text-align: center">Delete</th>
                </tr>
                {%for appointment in appointments%}
                    <tr>
                        <td style="width: 20%; text-align: center">{{appointment.PatientName}}</td>
                        <td style="width: 20%; text-align: center"><button><a href={{url_for("display_patient_trends", PatientID=appointment.PatientID)}}>Check Data Trends</a></button></td>
                        <td style="width: 20%; text-align: center">{{appointment.Date}}</td>
                        <td style="width: 20%; text-align: center">{{appointment.Time}}</td>
                        <td style="width: 20%; text-align: center"><button><a href={{url_for("delete_appointment", AppointmentID=appointment.AppointmentID)}}>Delete Appointment</a></button></td>
                    </tr>
                {%endfor%}
            </table>
        </section>
    </main>
{%endblock%}