{% extends "layout.html" %}
{% block title %}Select Available Appointments{%endblock %}
{% block content %}
    <main>
        <div class="welcome">
            <h1><center>Select Available Appointments</center></h1>
        </div>
        <section id="select_appointment">
            <h1 style="text-align: center">Doctors Available In Community</h1>
            <table style="width: 100%">
                <tr style="width: 100%">
                    <th style="width: 25%; text-align: center">Doctor Name</th>
                    <th style="width: 25%; text-align: center">Date</th>
                    <th style="width: 25%; text-align: center">Time</th>
                    <th style="width: 25%; text-align: center">Select</th>
                </tr>
                {%for appointment in appointments%}
                    <tr>
                        <td style="width: 25%; text-align: center">{{appointment.DoctorName}}</td>
                        <td style="width: 25%; text-align: center">{{appointment.Date}}</td>
                        <td style="width: 25%; text-align: center">{{appointment.Time}}</td>
                        <td style="width: 25%; text-align: center"><button><a href={{url_for("reserve_appointment", AppointmentID=appointment.AppointmentID)}}>Select This Appointment</a></button></td>
                    </tr>
                {%endfor%}
            </table>
        </section>
    </main>
{%endblock%}