{% extends "layout.html" %}
{% block title %}Set Available Appointments{%endblock %}
{% block content %}
    <main>
        <div class="welcome">
            <h1><center>Set Available Appointments</center></h1>
        </div>
        <form action="{{url_for('set_appointments')}}" method="POST">
            <div class="biometrics-container" style="display: flex; justify-content: center">
                <p>
                    <label>Date</label>
                    <input type="date" step="any" id="appointment-date" name="appointment-date">
                    <label>Time</label>
                    <input type="time" step="any" id="appointment-time" name="appointment-time">
                </p>
            </div>
            <div class="biometrics-button" style="display: flex; justify-content: center">
                <input type="submit" value="Submit">
                <input type="reset" value="Reset">
            </div>
        </form>
    </main>
{%endblock%}