{% extends "layout.html" %}
{% block title %}Approval{% endblock %}
{% block head %}
    <style>
        body{
            overflow: visible
        }
    </style>
{% endblock%}
{% block content %}

    <main>
        <section id="visits">
            <h1>Visit with {{patient.fName}} {{patient.lName}}</h1>
            <p><b>Visit ID:</b> {{visit.VisitID}}</p>
            <p><b>Doctor:</b> {{doctor.fName}} {{doctor.lName}}</p>
            <!--<p><b>Date:</b> 4/20/2021</p>-->
            <p><b>Symptom Notes:</b> {{visit.SymptomNotes}}</p>
            <p><b>Meeting Notes:</b> {{visit.MeetingNotes}}</p>
            <br>
            <p><b>Prescribed Medications:</b></p>
            <table>
                <tr>
                    <th>Prescription ID</th>
                    <th>Diagnosis Code</th>
                    <th>Drug</th>
                    <th>Dosage</th>
                    <th>Timing</th>
                    <th>Amount</th>
                    <th>DEA Number</th>
                    <th>Medical License Number</th>
                    <th>Special Instructions</th>
                </tr>
                {%for prescription in prescriptions%}
                    <tr>
                        <td>{{prescription.PrescriptionID}}</td>
                        <td>{{prescription.DiagnosisCode}}</td>
                        <td>{{prescription.Drug}}</td>
                        <td>{{prescription.Dosage}}</td>
                        <td>{{prescription.Timing}}</td>
                        <td>{{prescription.Amount}}</td>
                        <td>{{prescription.DEANumber}}</td>
                        <td>{{prescription.MedicalLicenseNumber}}</td>
                        <td>{{prescription.SpecialInstructions}}</td>
                    </tr>
                {%endfor%}
            </table>
        </section>
    </main>

{%endblock%}